<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="ZepBen" value="https://nexus.z.zepben.cloud/repository/zepben-nuget/" />
	</packageSources>
	<packageSourceCredentials>
		<ZepBen>
			<add key="Username" value="ZEPBEN_NUGET_FEED_USERNAME" />
			<add key="ClearTextPassword" value="ZEPBEN_NUGET_FEED_PASSWORD" />
		</ZepBen>
	</packageSourceCredentials>
</configuration>